#login-cont {
 height: 90vh;
  width: 80%;
  max-width: 500px;
  margin: 30px auto;
  background-color: var(--bls);
  color: var(--wh);
  display: grid;
  border-radius: 10px;
  grid-template-areas: 
  "header"
  "form-cont"
  "foot";
  place-content: center;
  grid-gap: 5%; 
  border: 1px red solid;
}
  #login-header {
    grid-area: "header";
    margin: 0 auto 0px;
    color: var(--rb);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-shadow: 0px 1px 1px var(--ash);
  }
  

#login-logo {
  background-color: var(--wh);
  color: var(--bls);
  width: 100px;
  height: 100px;
  margin: auto auto 0;
  font-size: 80px;
  font-weight: 900;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -1px 2px var(--bls), inset 4px 4px 5px var(--ash);
}

#form-cont{
  grid-area: 
  "form-cont";
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
justify-content: space-between;
}

#login-msg {
  width: 80%;
  font-size: small;
  height: fit-content;
  text-align: justify;
  word-break: break-all;
  margin: auto auto 10px;
} 

#login-form-cont {
  width: 100%;
}
#login-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
#login-form input{
  width: 100%;
  height: 30px;
  border-radius: 3px;
  margin: 3px auto;
  font-weight: 700;
  border: 0;
  font-variant: small-caps;
  font-size: 19px;

}
#room-input,
#username-input {
  padding: 0 15px;
}
#submit-input {
  background-color: var(--rbs);
  box-shadow: 0px 0px 2px var(--rb), inset 0px 0px 5px var(--ash);
  text-align: center;
  color: var(--wh);
}

#login-foot{
grid-area:"foot";
  width: 100%;
color: var(--wh);
text-align: center;
} 