
#canvas-cont {
  position: fixed;
  bottom: 10vh;
  /* right: 0; */
  width: 100vw;
  overflow: auto;
  background-color: var(--wh);
  height: 85vh;
  padding-top: 60px;
  border: 1px black solid;
}
#toolbox {
  position: absolute;
  background: rgb(210, 210, 210);
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  bottom: 0;
}
.colorButton {
  transition: 0.1s linear;
  position: relative;
  float: left;
  margin: 5px;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  z-index: 3;
}
.tools {
  transition: 0.1s linear;
  position: relative;
  float: left;
  border-radius: 50%;
  height: 40px;
  background: white;
  cursor: default;
  margin: 5px;
  height: 40px;
  width: 40px;
}
.tools:hover {
  width: 30px;
  height: 30px;
  transform: scale(1.4);
  font-size: 10px;
  margin: 8px;
}
#lineSize{
  padding: 2px;
  border-radius: 20%;
  border: 1px black solid;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
#colorInput {
  display: none;
}

#colorSelector {
  background: rgb(0, 0, 0);
}
#eraser {
  background: white;
  font-size: 13px;
  font-weight: 700;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#clearAll {
  background: rgb(255, 255, 255);
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas-board{
  position: absolute;
  z-index: -1;
  top: 0;
}